@use './vars' as *;

body{
  font-family: $font;
  background-color: $bg-color;
}

h1 {
  color: $tertiary-color;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: $tertiary-color;
}